body {
  background-color: #121212;
  color: #eae0c2;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding-left: 5rem;
  display: grid;
  grid-template: auto 1fr / 240px 1fr;
}

.header {
  padding: 2rem 2rem 2rem 0rem;
  font-weight: bold;
  grid-column: 1 / grid-column-end;
}

.header_logo {
  padding: 2rem 2rem 2rem 0rem;
  font-size: 40px;
  font-style: italic;
  text-align: left;
  grid-column: 1 /2;
}

.header_slogan {
  padding: 2rem 2rem 2rem 0rem;
  font-size: large;
  text-align: center;
  grid-column: 2 /4;
}

.left-side {
  border-style: solid;
  border-radius: 15px;
  border: 2px solid #333029;
  margin: 0px 5px;
  padding: 5px;
  grid-column: 1 / 2;
  text-align: left;
}

.main {
  grid-column: 2 / 4;
}

.Canvas {
  border: none;
}

.Buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.Button {
  padding: 16px;
  margin: 24px;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  background-color: #eae0c2;
  border-radius: 15px;
  border: 2px solid #333029;
  display: inline-block;
  cursor: pointer;
  color: #505739;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  outline: none;
}

.Button:hover {
  background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  background-color: #ccc2a6;
}
